{% extends 'layout.html' %}
{% block title %}Dashboard{% endblock %}
{% block stylesheets %}
  {{ super() }}
  <link href="https://api.mapbox.com/mapbox-gl-js/v0.20.1/mapbox-gl.css" rel="stylesheet">
{% endblock %}
{% block content %}
  <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">Brew Buddy</span>
        <div class="mdl-layout-spacer"></div>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
          <i class="material-icons">more_vert</i>
        </button>
        <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
          <li class="mdl-menu__item">About</li>
          <li class="mdl-menu__item">Contact</li>
          <li class="mdl-menu__item">Legal information</li>
        </ul>
      </div>
    </header>
    <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
      <header class="demo-drawer-header">
        <img src="{{ user['avatar_url'] }}" alt="{{ user['login'] }}" class="demo-avatar">
        <div class="demo-avatar-dropdown">
          <span>{{ user['login'] }}</span>
          <div class="mdl-layout-spacer"></div>
          <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
            <i class="material-icons" role="presentation">arrow_drop_down</i>
            <span class="visuallyhidden">Settings</span>
          </button>
          <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
            <li class="mdl-menu__item"><i class="material-icons">code</i>Your GitHub</li>
            <li class="mdl-menu__item"><i class="material-icons">power_settings_new</i>Sign Out</li>
          </ul>
        </div>
      </header>
      <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
        <a class="mdl-navigation__link" href="#"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>Home</a>
        {% if session.repo_url %}
          <a class="mdl-navigation__link" href="{{ session.repo_url }}" target="_blank"><i class="mdl-color-text--blue-grey-400 material-icons">cloud</i>Repository</a>
        {% endif %}
        <div class="mdl-layout-spacer"></div>
        <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help_outline</i><span class="visuallyhidden">Help</span></a>
      </nav>
    </div>
    <main class="mdl-layout__content mdl-color--grey-100">
      <div class="mdl-grid demo-content">
        <div class="mdl-cell mdl-cell--12-col">
          {% if session.errors %}
            <ul id="errors" class="demo-list-icon mdl-list">
            {% for status_code, error in session.errors.items() %}
              <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                  <i class="material-icons mdl-list__item-icon">error_outline</i>
                  {% if status_code == 404 %}
                    <span class="status-code" style="display: none;">{{ status_code }}</span><span>brew-buddy repository not found. Click <a id="fork" href="#">here</a> to fork it.</span>
                  {% else %}
                    {{status_code }} {{ error }}
                  {% endif %}
                </span>
              </li>
            {% endfor %}
            </ul>
          {% endif %}
        </div>
        <div class="mdl-cell mdl-cell--12-col">
          <div class="mdl-textfield mdl-js-textfield fluid-width">
            <input class="mdl-textfield__input" type="text" id="autocomplete" placeholder="Search for breweries..." autofocus>
            <label class="mdl-textfield__label" for="autocomplete">brewery</label>
          </div>
        </div>
        <div class="mdl-cell mdl-cell--12-col">
          <table id="features" class="mdl-data-table mdl-js-data-table">
            <thead>
              <tr>
                <th class="mdl-data-table__cell--non-numeric">Brewery</th>
                <th>Visits</th>
                <th style="display: none;">Longitude</th>
                <th style="display: none;">Latitude</th>
              </tr>
            </thead>
            <tbody>
              {% for feature in features %}
                <tr>
                  <td class="mdl-data-table__cell--non-numeric">{{ feature['properties']['title'] }}</td>
                  <td>{{ feature['properties']['description'] }}</td>
                  <td style="display: none">{{ feature['geometry']['coordinates'][0] }}</td>
                  <td style="display: none">{{ feature['geometry']['coordinates'][1] }}</td>
                </tr>
              {% else %}
                <tr>
                  <td class="mdl-data-table__cell--non-numeric" colspan="4">You have not visited any breweries</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </main>
    <dialog id="dialog" class="mdl-dialog">
      <h4 class="mdl-dialog__title"></h4>
      <div class="mdl-dialog__content">
        <div id="loader" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
        <div id="map"></div>
      </div>
      <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button close">Close</button>
      </div>
    </dialog>
  </div>
{% endblock %}
{% block javascripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='xhr.js') }}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDO46uwqC7XH213p5-OT-RRzaD74nb7qAc&libraries=places" async defer></script>
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.20.1/mapbox-gl.js'></script>
{% endblock %}
